.Chart {
  height: 100%;
  width: 100%;

  @media screen and (min-width: 768px) {
    max-height: 336px;
  }

  &__exspenseContainer {
    position: relative;
  }
  &__expenseOverall {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-family: 'Circe';
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      font-size: 28px;
    }
  }

  @media screen and (min-width: 1280px) {
    font-size: 24px;
  }
}
