.Dashboard {
  &__container {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 100%;
    background-color: #e7eaf2;
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    // height: calc(100vh - 60px);
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(25px);
    padding-bottom: 15px;
    // background-color: red;
  }

  &__navContainer {
    padding: 15px 0;
  }

  &__balance {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 32px;
  }

  &__contentContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 32px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .Dashboard {
    &__backgroundElipse1 {
      width: 496px;
      height: 333px;
      background-image: url("data:image/svg+xml,%3Csvg width='496' height='333' viewBox='0 0 496 333' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M426.671 362.925C349.878 493.555 192.436 523.277 54.0872 488.134C-105.334 439.813 -170.538 270.69 -125.016 120.504C-82.7835 -18.8283 83.0818 19.3577 220.438 3.49611C474.794 -23.8102 573.649 131.918 426.671 362.925Z' fill='%23C5BAFF'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: left 0px, bottom 0px;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &__backgroundElipse2 {
      width: 552px;
      height: 383px;
      background-image: url("data:image/svg+xml,%3Csvg width='552' height='383' viewBox='0 0 552 383' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M552.107 266.556C464.047 389.872 304.59 405.532 169.898 358.273C15.3836 296.022 -34.5854 121.79 24.0596 -23.7743C78.4665 -158.819 240.298 -106.092 378.52 -109.726C634.294 -114.397 718.967 49.4746 552.107 266.556Z' fill='%23FFD8D0'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: left 0px, bottom 0px;
      position: absolute;
      top: 0;
      right: 0;
    }

    &__main {
      height: calc(100vh - 60px);

      flex-direction: column;
      justify-content: flex-start;
      background-color: rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(25px);
      gap: 20px;
    }

    &__balanceCurrency {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 32px 32px 0 32px;
      gap: 32px;
    }

    &__navBalance {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 28px;
      flex-basis: 50%;
    }

    &__navContainer {
      padding: 0 0;
    }

    &__balanceContainer {
    }

    &__currencyContainer {
      flex-basis: 50%;
    }

    &__contentContainer {
      flex-direction: column;
      padding: 0 32px 32px 32px;

      gap: 32px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .Dashboard {
    &__container {
      height: 100%;
    }

    &__backgroundElipse1 {
      width: 496px;
      height: 333px;
      background-image: url("data:image/svg+xml,%3Csvg width='496' height='333' viewBox='0 0 496 333' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M426.671 362.925C349.878 493.555 192.436 523.277 54.0872 488.134C-105.334 439.813 -170.538 270.69 -125.016 120.504C-82.7835 -18.8283 83.0818 19.3577 220.438 3.49611C474.794 -23.8102 573.649 131.918 426.671 362.925Z' fill='%23C5BAFF'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: left 0px, bottom 0px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    &__backgroundElipse2 {
      width: 552px;
      height: 383px;
      background-image: url("data:image/svg+xml,%3Csvg width='552' height='383' viewBox='0 0 552 383' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M552.107 266.556C464.047 389.872 304.59 405.532 169.898 358.273C15.3836 296.022 -34.5854 121.79 24.0596 -23.7743C78.4665 -158.819 240.298 -106.092 378.52 -109.726C634.294 -114.397 718.967 49.4746 552.107 266.556Z' fill='%23FFD8D0'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: left 0px, bottom 0px;
      position: absolute;
      top: 0;
      right: 0;
    }

    &__main {
      width: 100%;
      // height: 100%;
      height: calc(100vh - 80px);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-grow: 1;
      background-color: rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(25px);
      padding-bottom: 0;
    }

    &__balanceCurrency {
      padding: 40px 0 40px 16px;
      display: flex;
      flex-direction: column;
      gap: 32px;
      width: 480px;
    }

    &__navBalance {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 28px;
      flex-basis: auto;
    }

    &__navContainer {
      padding: 0 0;
    }

    &__currencyContainer {
      flex-basis: auto;
    }

    &__contentContainer {
      padding: 40px 16px 40px 0;
      // display: flex;
      flex-direction: column;
      gap: 32px;
    }
  }
}
