.RegistrationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 533px;
  border-radius: 20px;
  transition: box-shadow 250ms ease-in-out;
  background-color: #ffffff;
  @media screen and (max-width: 767px) {
    width: 100%;
    max-width: 533px;
    padding: 36px 20px;
    margin: 20px 20px;
  }

  @media screen and (min-width: 768px) {
    padding: 40px 59px 66px 65px;
    width: 533px;
    height: 616px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-top: -30px;
  }

  &:hover {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  }

  &__alert {
    width: 100%;
    margin: 10px auto;
    text-align: center;
    margin-bottom: -30px;
  }

  &__icon {
    margin: 10px;
  }

  &__passwordStrengthBar {
    width: 100%;
    margin: 0 auto;
    border-radius: 2px;

    & > div {
      margin: 5px 0px 0px 4px !important;

      & > div {
        width: 0px !important;
        height: 4px !important;
        border-radius: 2px !important;
        margin-left: -4px !important;
        transition: all 250ms ease-in-out !important;

        &:first-child {
          z-index: 5;
        }

        &:nth-child(2) {
          z-index: 4;
        }

        &:nth-child(3) {
          z-index: 3;
        }

        &:nth-child(4) {
          z-index: 2;
        }
      }
    }
  }
}
