.form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  font-family: 'Circe';
  & > div {
    display: flex;
    gap: 32px;
    align-items: center;
    width: 36.8vw;
    max-width: 394px;
  }

  &__dateTime {
    font-family: 'Circe';
    width: 18.1vw;
    max-width: 181px;
    border: none;
    outline: none;
    border-bottom: 1px solid #e0e0e0;
    font-size: 18px;
    text-align: center;
    height: 27px;
    background-image: url(../../assets/svg/Vectorcalendar.svg);
    background-repeat: no-repeat;
    background-position: 100% 15%;

    &:hover {
      cursor: pointer;
      border-bottom: 2px solid black;
    }

    &:focus {
      border-bottom: 2px solid #24cca7;
    }

    &__error {
      position: absolute;
      font-size: 12px;
      color: #ff00009a;
      right: 13%;
      bottom: 44%;
      font-family: 'Circe';
    }
  }
  &__amount {
    width: 18.1vw;
    max-width: 181px;
  }
  &__comment {
    width: 30.8vw;
    max-width: 394px;
  }
  &__btn {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .form {
    display: flex;
    justify-content: center;
    & > div {
      max-width: none;
      display: block;
      width: 80%;
      max-width: 430px;
    }
    &__dateTime {
      max-width: none;
      width: 100%;
      margin: 40px 0px 0px 0px;
      background-position: 95%;
    }

    &__comment {
      margin-top: 40px !important;
    }

    &__amount {
      max-width: none;
      width: 30.8vw;
    }
  }
}
