.LogoContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 30px;
  &__img {
    width: 119px;
    height: 30px;
    object-fit: contain;
  }
}

@media screen and (min-width: 768px) {
  .LogoContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    &__img {
      width: 181px;
      height: 40px;
      object-fit: contain;
    }
  }
}
