.DropdownCategories {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__MenuItem {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;

    &:hover {
      background-color: #ffffff !important;
      color: #ff6596;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      z-index: 1;
    }
  }
}
