
.Navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;

    @media screen and (min-width: 480px) {
        flex-direction: column;
        justify-content: left;
        gap:21px;
    }
 
    &__icon{
        height: 36px;
        width: 36px;
        padding: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        color: #fff; ;
        background-color:#6E78E8 ;

        &:hover{
            background-color: #4A56E2;
            box-shadow: 8px 8px 30px 0px rgba(138, 138, 146, 0.63);
        }

        @media screen and (min-width: 480px) {
            height: 16px;
            width: 16px;
        }
    }

    &__iconMobile{
        height: 36px;
        width: 36px;
        padding: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        color: #fff; ;
        background-color:#6E78E8 ;
    
        &:hover{
            background-color: #4A56E2;
            box-shadow: 8px 8px 30px 0px rgba(138, 138, 146, 0.63);
        }

         @media screen and (min-width: 480px) {
            visibility: hidden;
        }
    }

    &__text{
        visibility: hidden;

        @media screen and (min-width: 480px) {
            visibility:visible;
            font-family: Poppins;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
        }

        &:hover{
            font-weight: 700;
        }

    }

    &__link{
        display: flex;
        gap: 23px;
    }
  }