.RegistrationPage {
  display: flex;
  // width: 100%;
  &__leftSide {
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
  }
  &__rightSide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__img {
    display: block;
  }
  &__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    background-color: #e5e5e5;
    flex-direction: column;
    height: 1024px;
    //width: 768px;
    width: 100%;
    align-content: center;
    background-image: url(/images/tablet/purple-ellipse-tablet.png);
    background-repeat: no-repeat;
    background-position: left bottom;

    &__leftSide {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 114px;
      background-color: #e5e5e5;
      background-image: url(/images/tablet/pink-ellipse-tablet.png);
      background-position: right top;
    }
    &__rightSide {
      width: 731px;
    }
    &__img {
      margin-top: 60px;
      margin-bottom: 50px;
      width: 274px;
      height: 250px;
    }
    &__registrationForm {
      width: 533px;
      height: 616px;
    }
    &__title {
      margin-left: 40px;
    }
  }

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    height: 720px;
    width: 100%;
    &__leftSide {
      flex-direction: column;
      justify-content: center;
      //width: 549px;
      width: 43%;
      flex: float;
      background-color: #e7eaf2;
      background-image: url(/images/desktop/purple-ellipse-desktop.png);
      background-position: left bottom;
    }
    &__rightSide {
      //width: 731px;
      width: 57%;
      flex: float;
      background-color: rgba(255, 255, 255, 0.4);
      background-image: url(/images/desktop/registration-page-right-background.png);
      background-repeat: no-repeat;
      background-position: left bottom;
      background-size: cover;
    }
    &__img {
      margin-top: 153px;
      margin-bottom: 31.9px;
    }
    &__registrationForm {
      width: 533px;
      height: 616px;
    }
    &__title {
      padding-bottom: 78px;
    }
  }
}
