.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
  height: 80px;

  &__auth {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  &__exit {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding-left: 12px;
    border-left: 1px solid #bdbdbd;
  }
}
