.Header {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  height: 60px;

  &__container {
    background-color: #fff;
  }

  &__logOut {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
  }

  &__logOutUserName {
    color: #bdbdbd;
    padding-top: 4px;
    font-family: 'Circe';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5em;
    text-align: right;
  }

  &__logOutButton {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 8px;
    color: #bdbdbd;
  }

  &__logOutButtonText {
    padding-top: 4px;
    color: #bdbdbd;
    font-family: 'Circe';
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: left;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .Header {
    padding: 20px 32px;
    &__logOutUserName {
      color: #bdbdbd;
      padding-top: 4px;
      padding-right: 12px;
      padding-left: 12px;
      font-family: 'Circe';
      font-weight: 400;
      font-size: 18px;
      line-height: 1.5em;
      text-align: right;
    }
  }
}

@media screen and (min-width: 1280px) {
  .Header {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px 20px 16px;
    height: 80px;

    &__logOut {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 30px;
    }

    &__logOutUserName {
      color: #bdbdbd;
      padding-top: 4px;
      padding-right: 12px;
      padding-left: 12px;
      font-family: 'Circe';
      font-weight: 400;
      font-size: 18px;
      line-height: 1.5em;
      text-align: right;
    }

    &__logOutButton {
      height: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      gap: 8px;
      color: #bdbdbd;
    }

    &__logOutButtonText {
      padding-top: 4px;
      color: #bdbdbd;
      font-family: 'Circe';
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      text-align: left;
    }
  }
}
