.income {
  font-weight: 700;
  color: #24cca7;
}

.expense {
  font-weight: 700;
  color: #ff6596;
}

.stack {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}

.icon {
  stroke: black;
  stroke-opacity: 0.8;
  stroke-width: 1.2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
