.Balance {
  &__container {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 40px 11px 40px;
    border-radius: 30px;
    background-color: #fff;
  }
  &__title {
    display: flex;
    font-family: 'Circe';
    font-size: 12px;
    font-weight: 400;
    line-height: 1.47em;
    text-transform: uppercase;
    color: #a6a6a6;
  }

  &__textContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  &__currency {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 30px;
    line-height: 1.5em;
    text-transform: lowercase;
    color: #000;
  }
  &__number {
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #000;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .Balance {
    &__container {
    }
  }
}

@media screen and (min-width: 1280px) {
}
