@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@font-face {
  font-family: 'Circe';
  src: local('Circe Bold'), local('Circe-Bold'),
    /* url('./assets/fonts/Circe-Bold.woff') format('woff'),
    url('./assets/fonts/Circe-Bold.woff2') format('woff2'), */
      url('./assets/fonts/Circe-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: local('Circe Regular'), local('Circe-Regular'),
    /* url('./assets/fonts/Circe-Regular.woff') format('woff'),
    url('./assets/fonts/Circe-Regular.woff2') format('woff2'), */
      url('./assets/fonts/Circe-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.container_for_reg_and_log_page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(202, 189, 251);
  background: linear-gradient(
    62deg,
    rgba(202, 189, 251, 1) 21%,
    rgba(229, 229, 229, 1) 32%,
    rgba(255, 255, 255, 1) 75%,
    rgba(248, 220, 214, 1) 88%,
    rgba(248, 220, 214, 1) 100%
  );
  backdrop-filter: blur(50px);

  @media screen and (max-width: 767) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
